### Built files ###
**/target/
**/*.class

### JavaScript ###
**/node_modules/
**/dist/main.js

### IntelliJ IDEA ###
.idea
*.iml

### Course files, inputs ###
**/Algorithms/files/
**/ignore/

### Test files ###
**/Test.html